@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    background-color: black;
}

body{
    height: 100vh;
    background-image: linear-gradient(to bottom, #4e1192, #52005e, #420036, #280719, #000000);
}

main{
    position: relative;
    overflow-x: hidden;
}

section#telefone{
    display: flex;
    position: absolute;
    /* Forma de centralizar um elemento sem precisar usar o GRID OU FLEX */
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 611px;
    width: 300px;
    background: url('../imagens/frame-iphone.png') no-repeat center;
}

section#tel{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 300px;
}


iframe#tela{
    position: relative;
    left: 19px;
    height: 562px;
    border-radius: 20px;
    width: 263px;
}

section#redes-sociais{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 99vw;
    
}

div#container{
    width: 70px;
}

section#redes-sociais img{
    margin: 10px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.466);
}

section#redes-sociais img:hover{
    border: 1px solid rgba(245, 245, 245, 0.671);
    transform: translateY(-3px);
    transition: transform 0.3s, border 0.2s;
    box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.87);
}

@media screen and (max-width: 700px){

section#redes-sociais{
   
    flex-direction: column;
    height: 700px;
    margin-top: 50px;
}

div#container{
    display: flex;
    justify-content: center;
    width: 100vw;
}
}
